* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #8575cb, #7f6c65);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 900px;
  font-family: arial;
  color: #fff;
  margin-top: 60px;
  text-align: center;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding-bottom: 20px;
  width: 320px;
}

.display {
  width: 100%;
  min-height: 100px;
  padding: 40px 0;
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.buttons {
  padding: 20px 20px 0 20px;
}

.row {
  width: 280px;
  float: left;
}

input[type="button"],
.backspace {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #ecedef;
  border: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: 700;
  color: #5e5858;
  cursor: pointer;
}
.backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
.backspace > img {
  width: 40px;
  height: 40px;
}

input[type="text"] {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #ffffff;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
  outline: none;
}
.red {
  background: linear-gradient(to right, #ffc371, #ff5f6d) !important;
  color: #ffffff !important;
  border: none;
  padding: 5px;
}
.hamburgerMenu {
  display: block;
  position: relative;
}

.hamburger {
  position: absolute;
  top: -6rem;
  left: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 0px;
  padding: 5px;
}

.history-panel {
  display: none; /* Hidden by default */
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.history-panel.visible {
  position: absolute;
  background-color: white;
  top: -4.5rem;
  left: 1rem;
  right: 1rem;
  bottom: -1rem;
  min-height: calc(100vh - 200px);
  display: block; /* Show when toggled */
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.historyUl {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.historyLi {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.historyInput {
  font-size: 12px;
  font-weight: 400;
  color: #706868;
}
.historyResult {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.close {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

button{
  cursor: pointer;
}
